@layout  LoginLayout
@page "/login/forgotPassword"
@inject LoginService _loginService
@inject IJSRuntime JsRuntime
@inject NavigationManager NavManager

<div id="login-top" class="row px-3">
    <div class="col-md-6 col-lg-4 p-3">
        <RadzenCard>
            <EditForm Model="login" OnSubmit="onForgot" >
                <h4 class="mb-4">Herstel Wagwoord</h4>
                <RadzenTextBox @bind-Value="login.email"  Placeholder="E-Pos" Class="w-100"/>
                <br/>
                <RadzenButton ButtonType="ButtonType.Submit" style="background-color:blue" Text="Herstel" ButtonStyle="ButtonStyle.Primary"/>
            </EditForm>
        </RadzenCard>
    </div>
</div>


@code {
    LoginModel login = new LoginModel();

    public async Task onForgot()
    {
        var res = await _loginService.ForgotPassword(login);
        await JsRuntime.InvokeVoidAsync("resetPassword");
        NavManager.NavigateTo("/login");
    }
}