@layout  LoginLayout
@page "/login"
@inject LoginService _loginService
@inject NavigationManager NavManager
@inject IJSRuntime JsRuntime

<div id="login-top" class="h-100 d-flex align-items-center justify-content-center">
    <div class="col-md-6 col-lg-4 p-3">
        <RadzenCard>
            <EditForm Model="login" OnSubmit="onLogin" >
                <h4 class="mb-4">login</h4>
                <RadzenTextBox @bind-Value="login.email"  Placeholder="Username" Class="w-100"/>
                
                <h4 class="mb-4">Password</h4>
                <RadzenPassword @bind-Value="login.password" Placeholder="Enter password..." Class="w-100"/>
                <a href="/login/forgotPassword?pass=pass">Forgot Password</a>
                <br/>

                <RadzenButton ButtonType="ButtonType.Submit" style="background-color:blue" Text="Login" ButtonStyle="ButtonStyle.Primary"/>
            </EditForm>
        </RadzenCard>
    </div>
</div>

@code {
    LoginModel login = new LoginModel();

    public async Task onLogin()
    {
       var res = await _loginService.Login(login);
        if (res)
        {
            NavManager.NavigateTo("/");
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("incorrectPassword");
        }
    }

   
}