@layout  LoginLayout
@page "/ResetPassword"
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavManager
@inject ResetPasswordService _resetPasswordService
@inject IJSRuntime JsRuntime

<div id="login-top" class="row px-3">
    <div class="col-md-6 col-lg-4 p-3">
        <RadzenCard>
            <EditForm Model="pass" OnSubmit="onSubmit">
                <h4 class="mb-4">Maak Wagwoord</h4>
                <RadzenPassword @bind-Value="pass.Password" Placeholder="Sleutel wagwoord in..." Class="w-100"/>
                <br/>
                <RadzenPassword @bind-Value="pass.RePassword" Placeholder="Sleutel wagwoord in..." Class="w-100"/>
                <RadzenButton ButtonType="ButtonType.Submit" style="background-color:blue" Text="ok" ButtonStyle="ButtonStyle.Primary"/>
            </EditForm>
        </RadzenCard>
    </div>
</div>

@code {
    ResetPasswordModel pass = new ResetPasswordModel();
    string _key;
    
    public async Task onSubmit()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        var queryStrings = QueryHelpers.ParseQuery(uri.Query);
        if(queryStrings.TryGetValue("Key", out var name))
        {
            _key= name;
        }
        var result = await _resetPasswordService.CreatePassword(pass, _key);
        if (result)
        {
            NavManager.NavigateTo("/login");
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("createPasswordError");
        }

    }
    
}
